@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');
:root {
    --color-sedans: hsl(31, 77%, 52%);
    --color-suvs: hsl(184, 100%, 22%);
    --color-luxury: hsl(179, 100%, 13%);
    --color-bg: hsl(0, 0%, 95%);
    --color-text: hsla(0, 0%, 100%, 0.75);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 120%;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    color: var(--color-text);
}

.card{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.card h2{
    font-family: "Big Shoulders", sans-serif;
    font-weight: 700;
    font-size: 27px;
    color: var(--color-bg);
    margin-bottom: 25px;
}

.card p{
    line-height: 25px;
    margin-bottom: 40px;
}

.card a{
    text-decoration: none;
    background-color: var(--color-bg);
    padding: 13px 30px;
    border-radius: 30px;
    border: 2px solid transparent;
}

.card a:hover{
    background-color: transparent;
    color: var(--color-bg);
    border-color: var(--color-bg);
}

.card__item{
    padding: 45px 45px 60px 45px;
}

.card__icon{
    margin-bottom: 25px;
}
.card__suvs{
    background-color: var(--color-suvs);
}

.card__suvs a{
    color: var(--color-suvs);
}

.card__luxury{
    background-color: var(--color-luxury);
}

.card__luxury a{
    color: var(--color-luxury);
}
.card__sedans{
    background-color: var(--color-sedans);
    border-radius: 8px 8px 0 0;
}

.card__sedans a{
    color: var(--color-sedans);
}

.card__suvs{
    background-color: var(--color-suvs);
}

.card__suvs a{
    color: var(--color-suvs);
}

.card__luxury{
    background-color: var(--color-luxury);
    border-radius: 0 0 8px 8px;
} 

.card__luxury a{
    color: var(--color-luxury);
}


/* Tablets y Desktops */
@media (width >= 768px){ 

    html,body{
        height: 100%;
    }

    .card{
        flex-direction: row;
        width: 70%;
        height: 60%;
    }

    .card p{
        margin-bottom: 100px;
    }

    .card__sedans{
        border-radius: 8px 0 0 8px;

    }
    .card__luxury{
        border-radius: 0 8px 8px 0;
        
    }
}

@media (width >= 1530px){ 
    
    .card{
        max-width: 1200px;
        max-height: 1200px;
    }

    .card__item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card a{
        max-width: 150px;
        text-align: center;
    }
    .card__icon{
        width: 80px;
    }

    .card p{
        margin-bottom: 150px;
    }
}

